####################################################################################################################################################################################################
####################################################################################################################################################################################################
# Ignore patterns for integrated development environments
.idea/
.fleet/
